:root{
    --pink: hsl(322, 100%, 66%);
    --lightPink: hsl(321, 100%, 78%);
    --lightRed: hsl(0, 100%, 63%);
    --veryDarkCyan: hsl(192, 100%, 9%);
    --veryPaleBlue: hsl(207, 100%, 98%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;    
}

main{
    color: var(--veryDarkCyan);
}

header{
    padding: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 40%;
    height: 40%;
}

h1, h2, h3, button{
    font-family: 'Poppins', sans-serif;
}

button{
    border: solid 1.5px var(--lightPink);
    background-color: transparent;
    border-radius: 5rem;
    padding: 0.3rem 1rem;
    color: var(--lightPink);
    box-shadow: 0.5px 0.5px 3px var(--lightPink);
}

.comunity{
    margin-top: 5rem;
    text-align: center;
    color: var(--veryDarkCyan);
    font-size: 0.8rem;
}

.comunity button, .ready button{
    background-color: var(--pink);
    color: var(--veryPaleBlue);
    padding: 0.8rem 2rem;
    margin-top: 2rem;
}

.mockup{
    width: 90%;
    height: 90%;
    margin: 5rem auto 0;
    display: block;
}

.followers{
    background-image: url('./images/bg-section-top-mobile-1.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding: 2rem 2rem 8rem;
}

.followers div{
    width: 31vh;
    margin: auto;
    text-align: left;
    margin-top: 5rem;
}

.followers h2{
    font-size: 3.5rem;
    margin: 0;
}

.followers p{
    margin-top: 0;
}

.together{
    text-align: center;
    background-color: var(--veryPaleBlue);
    padding: 2rem;
}

.together img, .conversations img, .users img{
    width: 90%;
    height: 90%;
}

.conversations{
    text-align: center;
    padding-top: 10rem;
    background-image: url('./images/bg-section-bottom-mobile-1.svg');
    background-repeat: no-repeat;    
}

.conversations img, .conversations h3, .conversations p{
    padding: 0 2rem;
}

.conversations img, .users img{
    margin-bottom: 3rem;
}

.conversations::after{
    content: "";
    background-image: url('./images/bg-section-top-mobile-2.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;    
    height: 40vh;
    width: 100%;
    display: block;
}

.users{
    text-align: center;
    padding: 2rem;
    background-color: var(--veryPaleBlue);
}

.ready{
    height: 100vh;
    justify-content: center;
    text-align: center;
    padding: 8rem 0 0;
    background-image: url('./images/bg-section-bottom-mobile-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.ready::after{
    content: "";
    background-image: url('./images/bg-footer-top-mobile.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;    
    height: 40vh;
    width: 100%;
    display: block;
}

.ready h4{
    font-size: 1.8rem;
    margin-bottom: 0;
}

footer{
    background-color: var(--veryDarkCyan);
    color: var(--veryPaleBlue);
}

h5{
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.newsletter{
    padding: 5rem 2rem;
}

.newsletter div{
    text-align: right;
}

input{
    width: 90%;
    padding: 0.7rem 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.3rem;
}

input[type='button']{
    background-color: var(--pink);
    color: var(--veryPaleBlue);
    width: 40%;
    font-size: 1rem;
    font-weight: 700;
}

.footer_contact{
    padding: 0 2rem;
}

.footer_contact p{
    font-size: 0.9rem;
}

.footer_contact div{
    display: flex;
    align-items: center;
    gap: 0.8rem;    
}

.social{
    margin-top: 1.5rem;
    font-size: 2rem;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:475px) {
    .ready::after{
        height: 16rem;
    }
}